services:
    manage-auth:
        build:
            context: ../../ProjectB-manage-auth/manage-auth
        image: tylersimeone/projectb/manage-auth
        container_name: manage-auth-docker
        depends_on:
            - manage-users
        environment:
            - ManageUsersLocalConnection=${MANAGE_USERS_LOCAL_CONNECTION}
            - TokenEndpoint=${TOKEN_ENDPOINT}
            - ClientId=${CLIENT_ID}
            - ClientSecret=${CLIENT_SECRET}
            - UserPoolId=${USER_POOL_ID}
            - AccessKey=${ACCESS_KEY}
            - SecretAccessKey=${SECRET_ACCESS_KEY}
        ports:
            - "127.0.0.1:5058:80"
        networks:
            - local

    manage-users:
        build:
            context: ../../ProjectB-manage-users/manage-users
        image: tylersimeone/projectb/manage-users
        container_name: manage-users-docker
        environment:
            - UserPoolId=${USER_POOL_ID}
            - Region=${REGION}
            - LocalDBConnection=${TASKD_RDS_CONX}
        ports:
            - "127.0.0.1:5222:80"
        networks:
            - local

    manage-boards:
        build:
            context: ../../ProjectB-manage-boards/manage-boards
        image: tylersimeone/projectb/manage-boards
        container_name: manage-boards-docker
        depends_on:
            - manage-columns
        environment:
            - UserPoolId=${USER_POOL_ID}
            - Region=${REGION}
            - LocalDBConnection=${TASKD_RDS_CONX}
            - ManageAuthLocalConnection=${MANAGE_AUTH_LOCAL_CONX}
            - ManageColumnsLocalConnection=${MANAGE_COLUMNS_LOCAL_CONX}
        ports:
            - "127.0.0.1:5032:80"
        networks:
            - local

    manage-columns:
        build:
            context: ../../ProjectB-manage-columns/manage-columns
        image: tylersimeone/projectb/manage-columns
        container_name: manage-columns-docker
        environment:
            - UserPoolId=${USER_POOL_ID}
            - Region=${REGION}
            - LocalDBConnection=${TASKD_RDS_CONX}
            - ManageTasksLocalConnection=${MANAGE_TASKS_LOCAL_CONX}
        ports:
            - "127.0.0.1:5156:80"
        networks:
            - local

    manage-tasks:
        build:
            context: ../../ProjectB-manage-tasks/manage-tasks
        image: tylersimeone/projectb/manage-tasks
        container_name: manage-tasks-docker
        environment:
            - UserPoolId=${USER_POOL_ID}
            - Region=${REGION}
            - LocalDBConnection=${TASKD_RDS_CONX}
        ports:
            - "127.0.0.1:5273:80"
        networks:
            - local

networks:
    local:
        driver: bridge